body 							{ padding: 10px; }
.fleft							{ float: left; }
.fright							{ float: right; }
.perPage > span,
.perPage > select 				{ display: inline-block; }
.perPage > select 				{ width: 65px; }
nav.pagination 					{ margin: 0; display: block; text-align: center; }
.table.manage th:last-child,
.table.manage tr td:last-child 	{ width: 100px; }
.table th:first-child,
.table th:nth-child(2),
.table tr td:first-child,
.table tr td:nth-child(2) 		{ width: 85px; }
.error-message 					{ color: red; }
input.ng-dirty.ng-invalid 		{ border-color: red; }