<h2>Add a new record</h2>
<div class="alert alert-success" role="alert" ng-if="success != ''">
 	{{ success }}
</div>
<div class="alert alert-danger" role="alert" ng-if="danger != ''">
 	{{ danger }}
</div>

<form ng-submit="addRecord()" name="itemForm">

	<div class="form-group">
		<span class="error-message" ng-show="itemForm.state.$dirty && itemForm.state.$error.pattern">The State should be numeric.</span>
		<input type="text" ng-model="recordData.state" class="form-control input-md" name="state" placeholder="State" ng-pattern="/^\d+/" required>
	</div>
	<div class="form-group">
		<span class="error-message" ng-show="itemForm.user.$dirty && itemForm.user.$error.minlength">The User should be minimum 2 characters.</span>
		<input type="text" ng-model="recordData.user" class="form-control input-md" name="user" placeholder="User" ng-minlength="2" required>
	</div>
	<div class="form-group">
		<span class="error-message" ng-show="itemForm.group.$dirty && itemForm.group.$error.minlength">The Group should be minimum 2 characters.</span>
		<input type="text" ng-model="recordData.group" class="form-control input-md" name="group" placeholder="Group" ng-minlength="2" required>
	</div>
	<div class="form-group">
		<span class="error-message" ng-show="itemForm.role.$dirty && itemForm.role.$error.minlength">The Role should be minimum 2 characters.</span>
		<input type="text" ng-model="recordData.role" class="form-control input-md" name="role" placeholder="Role" ng-minlength="2" required>
	</div>
	<div class="form-group">
		<span class="error-message" ng-show="itemForm.organization.$dirty && itemForm.organization.$error.minlength">The Organization should be minimum 2 characters.</span>
		<input type="text" ng-model="recordData.organization" class="form-control input-md" name="organization" placeholder="Organization" ng-minlength="2" required>
	</div>

	<div class="form-group text-right">	
		<a class="btn btn-warning btn-md" href="/#/admin" role="button">Back</a>
		<button type="submit" class="btn btn btn-success btn-md">Add</button>
	</div>
</form>